<!DOCTYPE html>
<html>
<head>
  <title>Water Potability Prediction</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Water Potability Prediction</h1>
    
    <form id="predictionForm">
      <label for="ph">
        pH (0-14):
      </label>
      <input type="text" id="ph" pattern="[0-9]+(\.[0-9]+)?" required>
      <br>
      
      <label for="hardness">
        Hardness (0- 375):
        
      </label>
      <input type="text" id="hardness" pattern="[0-9]+(\.[0-9]+)?" required>
      <br>

      <label for="solids">
        Solids (0-35,000 or more): </label>
        <input type="text" id="solids" pattern="[0-9]+(\.[0-9]+)?"  required>
      </label>
      <br>

      <label for="chloramines">
        Chloramines (0-12):
        
      </label>
      <input type="text" id="chloramines" pattern="[0-9]+(\.[0-9]+)?"  required>
      <br>

      <label for="sulfate">
        Sulfate (0-500):
        
      </label>
      <input type="text" id="sulfate" pattern="[0-9]+(\.[0-9]+)?"  required>
      <br>

      <label for="conductivity">
        Conductivity (0-1000):
      </label>
      <input type="text" id="conductivity" pattern="[0-9]+(\.[0-9]+)?"  required>
      <br>

      <label for="organicCarbon">
        Organic Carbon (0-30):
       
      </label>
      <input type="text" id="organicCarbon" pattern="[0-9]+(\.[0-9]+)?"  required>
      <br>

      <label for="trihalomethanes">
        Trihalomethanes (0-80):
      
      </label>
      <input type="text" id="trihalomethanes" pattern="[0-9]+(\.[0-9]+)?"  required>
      <br>

      <label for="turbidity">
        Turbidity (0-5):
      </label>
      <input type="text" id="turbidity" pattern="[0-9]+(\.[0-9]+)?" required>      
        <br>

        <br>

      <button type="submit" id="predictButton">Predict</button>
    </form>

    <div id="predictionResult"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
